.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;



    &--intro {
        display: inline-block;
        font-weight: 700;
        color: $white;
    }

    &--description {
        font-size: 1 rem;
        display: block;
        color: $white;
    }
}